<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='Img/logo.png') }}" alt="Logo UNES">
        <span>
            <a href="index" class="link">Home</a> |
            <a href="quemsomos" class="link">Quem Somos</a> |
            <a href="contato" class="link">Contato</a>  
        </span>
    </header>
    <div class="areatext">
        <h3 class="areatit">Quem somos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi cum unde. Dolorem aut tempore quod ab earum minus neque! Id minus corrupti repellat facilis pariatur ad eum quo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam et nisi, quibusdam, consectetur non quo praesentium eaque sed excepturi nostrum exercitationem ab aliquam explicabo voluptas quisquam in saepe harum voluptatem!</p>
    </div>
    <div class="areatext">
        <h3 class="areatit">5 motivos para estudar</h3>
        <p>1. Material sempre atualizado;</p>
        <p>2. Tablets em sala de aula;</p>
        <p>3. Professores renomados;</p>
        <p>4. Universidade bem avaliada;</p>
        <p>5. Ótima localização.</p>
        <hr>
    </div>
    <div class="areatext">
        <h3 class="areatit">Objetivos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi cum unde. Dolorem aut tempore quod ab earum minus neque! Id minus corrupti repellat facilis pariatur ad eum quo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam et nisi, quibusdam, consectetur non quo praesentium eaque sed excepturi nostrum exercitationem ab aliquam explicabo voluptas quisquam in saepe harum voluptatem!</p>
    </div>
    <footer>Todos os direitos reservados</footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>">
</body>
</html>